---
interface Props {
    href: string;
    src: string;
    alt: string;
}

const { href, src, alt } = Astro.props;
---

<style>
    a {
        display: inline-block;
        border-radius: 100%;
        height: 44px;
        width: 44px;
        background-color: var(--dark-blue);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    img {
        height: 26px;
        width: 26px;
    }
</style>
<a target="_blank" href={href}>
    <img
        src={src}
        alt={alt}
        height="26"
        width="26"
        style="fill: white;"
        loading="lazy"
    />
</a>
